@import "./Modules/variables";
@import "./Modules/basestyles";

/*
  1) 1163 by 163 -> Output box with IP ADD/Location/Timezone/ISP (279)
  padding-left: 31, padding-top: 36

  2) Search Input -> 496 by 59
  padding-left: 25, padding-top/bottom: 23

  3) Search button -> 60 by 59
  Button Icon Size: w-11 h-auto

  4) blue bg height: 280px
*/

.app-title{
  margin: 36px 0;

  @media (max-width: 768px){
    margin: 30px 0;
  }
  h1{
    font-family: $roboto;
    font-size: 32px;
  }
}

.form-container{
  // Search Bar
  form{
    max-width: 556px;
    width: 100%;

    .ip-input{
      max-width: 496px;
      width: 100%;
      height: 59px;
      border-bottom-left-radius: 16px;
      border-top-left-radius: 16px;
      padding-left: 26px;
      border: none;
      outline: none;
    }

    button[type="submit"]{
      background: none;
      border: none;
      outline: none;
      width: 60px;
      height: 59px;
      border-bottom-right-radius: 16px;
      border-top-right-radius: 16px;
      color: white;
      background: black;

      // &::before{
      //   content: url("/public/images/icon-arrow.svg");
      // }
    }
  }
}

.display-block{
  max-width: 1163px;
  margin: 0 auto;
  background: #fff;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;

  padding: 36px 0;

  @media (min-width: 768px){
    min-height: 163px;
  }

  @media (max-width: 767px){
    min-height: 293px;
    padding: 25px 0;
  }

  & > .row{
    min-height: 100%;

    @media (max-width: 1200px){
      max-width: 95%;
    }

    & > div{
      padding: 0 0 0 33px;
      // padding: 39px 0 39px 33px;

      @media (min-width: 768px){
        .search-result, .title{
          max-width: 190px;
        }

        &:not(:last-child){
          border-right: 1px solid rgba($med-grey, 0.35);
        }
      }
    }
  }
}

.content-container{
  top:0;
  z-index: 99999;
}

// ip-tracker

#ip-tracker{
  .blue-bg{
    height: 305px;
  }

  .map-container{
    height: calc(100vh - 305px);
  }


  // @media (max-width: 768px){

  // }
}

// Map +/-
.leaflet-control-container > .leaflet-top:first-child{
  display: none;
  @media (min-width: 1250px){
    display: block;
    z-index: 999999;
  }
}

// Globe Container
#globe-container{
  img{
    width: 48px;
  }
}

// Map Marker
.leaflet-marker-pane{
  width: auto !important;
}

::placeholder{
  font-family: $roboto;
  font-size: $font-size;
  color: $med-grey;
}

// Map Pop Close Icon
.leaflet-container a.leaflet-popup-close-button{
  color: #453e99 !important;
}
